<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Todo App - with Vue.js</title>

    <!--Font-->
    <link href="assets/bootstrap/fonts/glyphicons-halflings-regular.ttf">

    <!--Bootstrap -->
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!--CSS-->
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>
    
    <!--Container-->
    <div id="todo" class="container">

      <div id="box" class="col-md-6 col-sm-12 col-md-offset-3">
        
        <!--Header-->
        <header id="head-box" class="row">
          <div class="col-md-10 col-sm-8">

            <h1>Accueil</h1>

            <div id="stat-box">

              <div class="stat-item">
                <span class='glyphicon glyphicon-ok'></span>
                <p id="done-count" class="counter">{{ countChecked }}</p>
              </div>

              <div class="stat-item">
                <span class='glyphicon glyphicon-hourglass'></span>
                <p id="pending-count" class="counter">{{ taskLeft }}</p>
              </div>

            </div>
          </div>

        </header>
        <!--Header END-->

        <!--Add task Form-->
        <div id="add-form" class="task-form row col-md-10 col-sm-12 col-md-offset-1" v-if="displayAddTask">

          <div class="row">
            <h2>Ajouter une tâche</h2>

            <form id="todo-form">

              <fieldset class="form-group">
                <label for="title">Task</label>
                <input id="todo-Title" class="form-control" name="title" v-model="newTodo" required>
              </fieldset>

              <fieldset class="form-group">
                <label for="date">Date</label>
                <input id="todo-Date" class="form-control" name="date" type="date" v-model="newDate"/>
              </fieldset>

              <div class="radiopills radiopills-container">

                <div class="radiopills-purple">
                    <input type="radio" 
                    name="category" value="personnel" id="radio1" class="todo-Category" v-model="newCat"/>
                    <label class="todo-Category" value="Personnel" for="radio1">Personnel</label>
                </div>
                <div class="radiopills-blue">
                    <input type="radio" 
                    name="category" value="travail" id="radio2" class="todo-Category" v-model="newCat"/>
                    <label class="todo-Category" value="Travail" for="radio2">Travail</label>
                </div>
                <div class="radiopills-green">
                    <input type="radio" 
                    name="category" value="maison" id="radio3" class="todo-Category" v-model="newCat"/>
                    <label class="todo-Category" value="Maison" for="radio3">Maison</label>
                </div>
                <div class="radiopills-yellow">
                    <input type="radio" 
                    name="category" value="loisir" id="radio4" class="todo-Category" v-model="newCat"/>
                    <label class="todo-Category" value="Loisir" for="radio4">Loisir</label>
                </div>
                <div class="radiopills-red">
                    <input type="radio" 
                    name="category" value="banque" id="radio5" v-model="newCat"/>
                    <label class="todo-Category" value="Banque" for="radio5">Banque</label>
                </div>
              </div>

              <input id="todo-submit" class="btn btn-primary btn-submit" type="submit" value="Ajouter une tâche" v-on:click="addTodo"/>

            </form>
          </div>
        </div>
        <!--Add task form END-->

        
        <!--Task-->
        <div id="task" class="row col-md-10 col-sm-12 col-md-offset-1"> 

          <div id="deleteAll" class="row">
            <div class="radiopills-lightBlue">
                <input type="radio" 
                name="category" value="personnel" id="markAll" class="todo-Category" v-bind:checked="allSelected" v-on:click="selectAll"/>
                <label class="todo-Category" value="selectAll" for="markAll">Marquer toutes les tâches</label>
            </div>
          </div>

          <!--Pending task-->
          <div id="task" class="row" v-if="todos.length > 0">
            <h2>Tâche en cours</h2>
            <div id="task-list">

              <!--Todo item-->
              <div class='todo-task' v-for="todo in todos" v-bind:class="{ done: todo.checked }">
                <p class='item-date'>{{ todo.date | dateFormat }}</p>
                <div class='head'>
                  <h4>{{ todo.title }}&nbsp;&nbsp;<small>{{ todo.category }}</small></h4>

                  <!--Remove btn-->
                  <div class='button'>
                    <input type="checkbox" class='complete btn btn-default' v-model="todo.checked">
                    <button class='remove btn btn-default' v-on:click="removeTodo(todo)">
                      <span class='glyphicon glyphicon-remove'></span>
                    </button>
                  </div>
                  <!--./Remove btn-->
                
                </div>
              </div>
              <!--./Todo item-->

            </div>
          </div>
          <!--Pending task END-->
          
          <!--Task list is empty-->
          <div class="no-task row" v-else-if="todos.length === 0">
            <h2>La liste est vide</h2>
          </div>
          <!--Task list is empty END-->
          
          <!--Buttons-->
          <div class="row">
            <button id="add-task" class="btn btn-default col-md-2 col-sm-4 round-button" v-on:click="displayAddTask = !displayAddTask">
              <span class="glyphicon glyphicon-plus"></span>
            </button>

            <button id="show-category" class="btn btn-default col-md-2 col-sm-4 round-button" v-on:click="displaycat = !displayCat">
              <span class="glyphicon glyphicon-th-large"></span>
            </button>
          </div>
          <!--Buttons END-->

        </div>
        <!--Task END-->

        <!--Category->
        <div id="category" class="row col-md-10 col-sm-12 col-md-offset-1" v-if="displayCat">

          <div id="activ-cat" class="row">
            
          <h2>Catégories</h2>
            <div id="task-category">
          
              <figure class="col-xs-5">
                <a href="" title="">
                  <span></span>
                  <figcaption>
                    <h4>
                      <span class="glyphicon purple glyphicon-user"></span>
                      <br>Personnel
                    </h4>
                    <p>54 tâches</p>
                  </figcaption>
                </a>
              </figure>
              <figure class="col-xs-5">
                <a href="" title="">
                  <span></span>
                  <figcaption>
                    <h4>
                      <span class="glyphicon blue glyphicon-briefcase"></span>
                      <br>Travail
                    </h4>
                    <p>54 tâches</p>
                  </figcaption>
                </a>
              </figure>
              <figure class="col-xs-5">
                <a href="" title="">
                  <span></span>
                  <figcaption>
                    <h4>
                      <span class="glyphicon green glyphicon-home"></span>
                      <br>Maison
                    </h4>
                    <p>54 tâches</p>
                  </figcaption>
                </a>
              </figure>
              <figure class="col-xs-5">
                <a href="" title="">
                  <span></span>
                  <figcaption>
                    <h4>
                      <span class="glyphicon yellow glyphicon-tent"></span>
                      <br>Loisir
                    </h4>
                    <p>54 tâches</p>
                  </figcaption>
                </a>
              </figure>
              <figure class="col-xs-5">
                <a href="" title="">
                  <span></span>
                  <figcaption>
                    <h4>
                      <span class="glyphicon red glyphicon-euro"></span>
                      <br>Banque
                    </h4>
                    <p>54 tâches</p>
                  </figcaption>
                </a>
              </figure>
              <figure class="col-xs-5 add-cat_button">
                <a href="" title="">
                  <span></span>
                  <figcaption>
                    <h4>
                      <span class=" glyphicon glyphicon-plus"></span>
                    </h4>
                    <h5>Ajouter une catégorie</h5>
                  </figcaption>
                </a>
              </figure>

            </div>
          </div>
        </div>
        <!-Category END-->

      </div>
      <!--Box END-->

      
      <pre>{{ $data }}</pre>

    </div>
    <!--./Container-->

  <!--SCRIPT-->
    <!--Js-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!--Bootstrap-->
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  
    <!--Moment.js-->    
    <script src="assets/js/moment.js"></script>
    
    <!--Vue.js-->
    <script src="https://unpkg.com/vue"></script>
    
    <!--App-->
    <script src="assets/js/app.js"></script>

  </body>
</html>